body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header{
   background-color: #f4f4f4; 
   text-align: center;
   padding: 20px;
}

header > img{
    max-width: 150px;
    border-radius: 50%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
}

.sidebar{
    background-color: #f9f9f9;
    padding: 20px;
}

.sidebar > section{
    margin-bottom: 20px;
}

.content{
    padding: 20px;
}

h1, h2, h3 ,h4{
    color: #333;
    margin-bottom: 10px;
}

ul, ol{
    padding-left: 20px;
}

li{
    margin-bottom: 10px;
}

dl, dt{
    font-weight: bold;
}

footer{
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td{
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color:#f4f4f4 ;
    font-weight: bold;
    color:#333;
    
}

td:nth-child(even){
    background-color: #f4f4f4;
}

td:hover{
    background-color:grey;
}

progress{
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .container{
        grid-template-columns: 1fr;
    }
}
